{% extends "index.html" %}
{% block title %}Welcome to The Cave/AR{% endblock %}
{% block content %}
    <script src="static/lib/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="static/lib/waypoints/lib/shortcuts/infinite.min.js"></script>
    <div class="row d-flex justify-content-center align-content-center">
        {% include "create_post.html" %}
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="infinite-container d-flex flex-wrap justify-content-center align-content-stretch">
            {% for post in posts %}
                <div class="infinite-item align-self-start" style="margin: 10px">
                    {% include "post_view.html" %}
                </div>
            {% endfor %}
        </div>
        {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
            <div class="d-flex justify-content-center" style="display:none;">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        {% endif %}
    </div>
    <script>
        let infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            handler: function(direction) {
            },
            offset: 'bottom-in-view',
            onBeforePageLoad: function () {
                $('.spinner-border').show();
            },
            onAfterPageLoad: function () {
                $('.spinner-border').hide();
            }
        });
    </script>
{% endblock %}